<h1>Rooms</h1>

	<h2><%= @room.name %></h2>

		<div class="address">
		<p><%= @room.address%></p>
		</div>

		<div class="image">
		</div>

		<div class="map" data-lat="<%= @room.latitude %>" data-lng="<%= @room.longitude %>">
		</div>

		<p>$<%= @room.price_in_pence / 100 %> per wk</p>

		<div class="description">
		<p><%= simple_format @room.description %></p>
		</div>

		<p><%= @room.no_of_rooms %> rooms</p>
		<p><%= @room.max_guests %> guests</p>

		<p>Enquire about this room with <%= mail_to @room.user.username, @room.user.email %>.</p>

		<div class="actions">
		<% if current_user? and @room.user.id == current_user.id %>
			<%= link_to "Edit", edit_user_room_path(current_user, @room), class: 'button' %>
			<%= link_to "Delete", room_path(@room), class: 'button', method: :delete %>
		<% elsif current_user? %>
			<%= link_to "Book this room", new_room_order_path(@room), class: 'button' %>
		<% else %>
			<%= link_to "Sign up to book this room!", new_user_path, class: 'button' %>
		<% end %>

		</div>